* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-color: #002856;
    --header-bg-color: #483EFF;
    --button-bg-color: #002856;
    --form-bg-color: #EEF5FF;
    --card-bg-color: #EEF5FF;
    --remove-color: #ff5868;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 250px auto 1fr;
    font-size: 16px;
    color: var(--font-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    background-color: var(--header-bg-color);
    color: white;
}

header > button {
    width: 130px;
    margin-top: 20px;
    padding: 0px 20px;
    height: 45px;
    border-radius: 6px;
    background-color: var(--button-bg-color);
    border: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

form {
    display: none;
    padding: 45px 0px;
    max-width: 600px;
    margin: auto;
    color: var(--font-color);
}

.form-bg {
    background-color: var(--form-bg-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.form-btn {
   border: solid 1px #002856;
   background-color: #EEF5FF;
   color: var(--font-color); 
   height: 45px;
   width: 130px;
   border-radius: 8px;
   width: 130px;
   cursor: pointer;
   font-size: 1rem;
}

.form-btn:hover {
    background-color: var(--button-bg-color);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

fieldset {
    border: none;
    max-width: 600px;
}

legend {
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #00285676;
}

input:valid:required {
    border: 2px solid rgb(0, 213, 60);
}

::placeholder {
    color: rgba(169, 169, 169, 0.8);
    font-size: 0.95rem;
}
 
.fieldset {
    flex-direction: column;
}

.radio-btns, .action-btns, .book-input, .active, .fieldset, .book-card {
    display: flex;
}

.radio-btns, .fieldset {
    gap: 10px;
}

.action-btns {
    gap: 16px;
}

.book-input, .active, .book-card {
    flex-direction: column;
}

.book-input {
    gap: 6px;
}

.book-input > input {
    height: 36px;
    padding: 8px;
    font-size: 1rem;
    border: none;
}

.active {
    gap: 30px;
}

.library-bg {
    background-color: #fff;
    height: 100vh;  
}

.library-display {
    display: grid;
    padding: 20px;
    margin: auto;
    justify-items: center;
    column-gap: 30px;
    row-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.book-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 350px;
    gap: 10px;
    background-color: var(--card-bg-color);
    border-radius: 6px;
    align-items: flex-start;
}

.top-div-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-div-container {
    margin-top: 20px;
}

.book-read, .book-not-read {
    width: 80px;
    padding: 8px 0px;
    border: none;
    color: white; 
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-bottom: 16px;
}

.book-read {
    background-color: #86C3B6;
}

.book-not-read {
    background-color: #D07465;
}

.book-title {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.book-author, .page-count, .read-status {
    font-weight: 500;
}

.read-status {
    margin-bottom: 20px;
}

.remove-btn {
    color: #00285676;
    border: none;
    background-color: var(--card-bg-color);
    height: 45px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.remove-btn:hover {
    color: var(--remove-color);
    background-color: #EEF5FF;
}