* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-color: color: rgb(21, 35, 35);
    --header-bg-color: #e8e8e8bb;
    --button-bg-color: #cccccc;
    --form-bg-color: #efefef7f;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 200px auto 1fr;
    font-size: 16px;
    color: var(--font-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    background-color: var(--header-bg-color);
}

header > button {
    margin-top: 20px;
    height: 38px;
    width: 130px;
}

button {
    height: 38px;
    width: 130px;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
    background-color: var(--button-bg-color);
}

button:hover {
    cursor: pointer;
    background-color: #ccccccbe;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

form {
    display: none;
    padding: 30px;
    max-width: 600px;
    margin: auto;
}

#form-bg {
    background-color: var(--form-bg-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    max-width: 600px;
}

legend {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(105, 105, 105, 0.6);
    margin-bottom: 10px;
}

#book-fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#read-fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#read-fieldset > div {
    display: flex;
    gap: 8px;
}

#action-fieldset > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.book-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.book-input > input {
    height: 36px;
    padding: 8px;
    font-size: 1rem;
    border: none;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#library-display {
    display: grid;
    padding: 20px;
    column-gap: 30px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}

.book-card {
    padding: 20px;
}