* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --font-color: #002856;
    --header-bg-color: #483EFF;
    --button-bg-color: #002856;
    --form-bg-color: #EEF5FF;
    --card-bg-color: #EEF5FF;
    --remove-color: #ff5868;
    --change-color: #f88d4a;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 250px auto 1fr;
    font-size: 16px;
    color: var(--font-color);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;
    background-color: var(--header-bg-color);
    color: white;
}

header > button {
    margin-top: 20px;
    height: 45px;
    width: 130px;
    background-color: var(--button-bg-color);
    color: white;
}

button {
    height: 45px;
    width: 130px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    background-color: var(--button-bg-color);
    color: white;
}

button:hover {
    cursor: pointer;
}

form {
    display: none;
    padding: 30px;
    max-width: 600px;
    margin: auto;
    color: var(--font-color);
}

#form-bg {
    background-color: var(--form-bg-color);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    max-width: 600px;
}

legend {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #00285676;
}

#book-fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#read-fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#read-fieldset > div {
    display: flex;
    gap: 8px;
}

#action-fieldset > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.book-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.book-input > input {
    height: 36px;
    padding: 8px;
    font-size: 1rem;
    border: none;
}

.active {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#library-bg {
    background-color: #fff;
    height: 100vh;  
}

#library-display {
    display: grid;
    padding: 20px;
    column-gap: 2rem;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
}

.book-card {
    padding: 20px;
    display: flex;
    width: 350px;
    gap: 10px;
    flex-direction: column;
    background-color: var(--card-bg-color);
    border-radius: 6px;
}

.secondary-btn {
   border: solid 1px #002856;
   background-color: #EEF5FF;
   color: var(--font-color); 
}

.remove:hover {
    border: solid 1px var(--remove-color);
    color: var(--remove-color);
    background-color: #EEF5FF;
}

.change-status:hover {
    border: solid 1px var(--change-color);
    color: var(--change-color);
    background-color: #EEF5FF;
}